body{
    background: rgb(230, 227, 227);
}
hr{
    width: 90%;
    height: 1.5px;
    background: rgb(230, 227, 227);
}
#main{
    height: 42vh;
    width: 400px;
    margin: 200px auto;
    border-radius: 4px 4px 70px 4px;
    background: white;
}
.num{
    display: inline;
    margin: 8px 20px;
}
P{
    font-size: 10px;
}

i{
    font-size: 2rem;
    font-weight: 300;
    background: rgb(142, 8, 220);
    border-radius: 50%;
    height: 30px;
    position: relative;
    right: 15px;
    top: 65px;
    cursor: pointer;
    color: white;
}

form{
    display: flex;
    margin: auto;
}
h1{
    font-weight: 900;
    display: inline;
    font-size: 3rem;
}

span{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(142, 8, 220);
padding: 15px;
}

div{
    margin: 5px 10px;
}
input{
    border-radius: 4px;
    padding: 4px;
}
input:out-of-range{
    border: 1px solid rgb(246, 69, 69);
}